.main_sec_tumor {
  width: 100%;
  display: flex;
  gap: 20%;
  align-items: flex-start;
}

.image_test_sec {
  margin-top: 5rem;

  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.upload_sec {
  border-radius: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffffd3;
}

.btn_check,
.btn_check:hover {
  border: none;
  gap: 10px;
  width: 12rem;
  height: 2.5rem;
  border-radius: 20px;
  font-size: medium;
  text-transform: capitalize;
  background-color: #74b4ff;
  box-shadow: 0px 1px 5px #000;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: "PT Serif", serif;
}
.imggg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.output {
  display: none;
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

/* chart  */

.chart_sec {
  border: 2px solid #000;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  gap: 30px;
  align-items: center;

  justify-content: flex-start;
}
.chart_sec h1 {
  margin-top: 2.5rem;
}

.graph {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.result {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 40px;
  border: 1px solid #7e7e7e53;
  background-color: #7e7e7e53;
  border-radius: 30px;
  position: relative;
}
.result p {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 20;
}

.yes {
  height: 100%;
  width: 0%;
  background-color: red;
  border-radius: 30px;
}
.no {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0%;
  background-color: green;
  border-radius: 30px;
}

.active {
  width: 100%;
  transition: 2s;
}

.hide_img {
  display: none;
}
